---
title: 'About Us | Oconee CPA'
description: 'Learn more about our accounting firm and our commitment to your financial success'
preloadImg: '/assets/images/about.webp'
permalink: '/about/'
eleventyNavigation:
    key: About Us
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/About-m.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/About.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/About.jpg"
                alt="Professional accounting services"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Side By Side Triplet            -->
    <!-- ============================================ -->

    <section id="RTsbst-1311">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/tax-services.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/tax-services.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/portfolio/tax-services.jpg" alt="Chandler Amerson" width="630" height="630" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h2 class="cs-title">About Oconee CPA</h2>
                <p class="cs-text">
                    Oconee CPA, LLC, located in Watkinsville, Georgia, is a Certified Public Accounting firm offering comprehensive tax and accounting services to small businesses and individuals throughout the state and region. Our practice advises across a variety of industries with focused interest and experience with real estate investment, development, and operating entities. Please view our service offerings for more information.
                </p>
                
                <p class="cs-text">
                    Our goal is to be a strategic partner for our clients, providing the highest quality of service via thoroughness, transparency and responsiveness. We want to be an extension of our client's business. As such, we are committed to maintaining an intimate small-firm approach, allowing for a complete understanding of both our client's business and their personal financial situation.
                </p>
                
                <p class="cs-text">
                    Oconee CPA is owned and operated by Chandler Amerson. Chandler is a Certified Public Accountant with over 16 years of public accounting, consulting and private industry experience. His knowledge across a variety of areas within small business finance affords a unique and practical perspective that goes beyond standard accounting services.
                </p>
                
                <p class="cs-text">
                    Chandler is a member of the American Institute of Certified Public Accountants (ACIPA), Georgia Society of CPAs (GSCPA) and is a Certified QuickBooks & QuickBooks Payroll ProAdvisor. He holds an undergraduate degree from the University of Georgia (BBA, Real Estate) and graduate degree from Mercer University (Master of Accountancy).
                </p>
                
                <p class="cs-text">
                    Chandler lives in Athens with his wife, Jessica, and two children.
                </p>
                
                <a class="cs-button-solid" aria-label="learn more about our team" href="/contact">Get In Touch</a>
            </div>
        </div>
    </section>
{% endblock %}
